hostname lf3
!
vlan 3
!
interface Ethernet1
   no switchport
   ip address 172.20.103.2/30
!
interface Ethernet2
   no switchport
   ip address 172.20.203.2/30
!
interface Ethernet3
   switchport access vlan 3
!
interface Ethernet4
   switchport access vlan 3
!
interface Ethernet5
   switchport access vlan 3
!
interface Loopback0
   ip address 172.20.0.3/32
!
interface Vlan3
   ip address 172.20.3.1/24
!
ip routing
!
router bgp 65003
   bgp listen range 172.20.3.0/24 peer-group kubedemo1 remote-as 65003
   neighbor kubedemo1 peer-group
   neighbor kubedemo1 route-reflector-client
   neighbor kubedemo1 maximum-routes 12000
   neighbor 172.20.3.151 remote-as 65003
   neighbor 172.20.3.151 route-reflector-client
   neighbor 172.20.3.151 maximum-routes 12000
   neighbor 172.20.3.152 remote-as 65003
   neighbor 172.20.3.152 route-reflector-client
   neighbor 172.20.3.152 maximum-routes 12000
   neighbor 172.20.3.153 remote-as 65003
   neighbor 172.20.3.153 route-reflector-client
   neighbor 172.20.3.153 maximum-routes 12000
   neighbor 172.20.103.1 remote-as 65000
   neighbor 172.20.103.1 maximum-routes 12000
   neighbor 172.20.203.1 remote-as 65000
   neighbor 172.20.203.1 maximum-routes 12000
   network 172.20.0.3/32
   network 172.20.0.23/32
